<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.dao.ManufactureMapper">
  <resultMap id="BaseResultMap" type="com.crud.bean.Manufacture">
    <result column="REP30050" jdbcType="VARCHAR" property="rep30050" />
    <result column="中文厂商" jdbcType="VARCHAR" property="中文厂商" />
    <result column="E0_1" jdbcType="INTEGER" property="e01" />
    <result column="E1" jdbcType="INTEGER" property="e1" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="厂商码" jdbcType="VARCHAR" property="厂商码" />
    <result column="USE" jdbcType="NCHAR" property="use" />
    <result column="InfoType" jdbcType="NVARCHAR" property="infotype" />
    <result column="Manufacture" jdbcType="NVARCHAR" property="manufacture" />
    <result column="Manufacture_code" jdbcType="INTEGER" property="manufactureCode" />
    <result column="new_brand" jdbcType="VARCHAR" property="newBrand" />
    <result column="UpdateType" jdbcType="INTEGER" property="updatetype" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REP30050, 中文厂商, E0_1, E1, brand, 厂商码, [USE], InfoType, Manufacture, Manufacture_code,
    new_brand, UpdateType, remark, id
  </sql>
  <select id="selectByExample" parameterType="com.crud.bean.ManufactureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from [10.20.12.38].manufacture.dbo.category_brand_barcode_manufacture_total_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.crud.bean.ManufactureExample">
    delete from category_brand_barcode_manufacture_total_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crud.bean.Manufacture">
    insert into category_brand_barcode_manufacture_total_all (REP30050, 中文厂商, E0_1, 
      E1, brand, 厂商码, [USE],
      InfoType, Manufacture, Manufacture_code, 
      new_brand, UpdateType, remark, 
      id)
    values (#{rep30050,jdbcType=VARCHAR}, #{中文厂商,jdbcType=VARCHAR}, #{e01,jdbcType=INTEGER}, 
      #{e1,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{厂商码,jdbcType=VARCHAR}, #{[use],jdbcType=NCHAR},
      #{infotype,jdbcType=NVARCHAR}, #{manufacture,jdbcType=NVARCHAR}, #{manufactureCode,jdbcType=INTEGER}, 
      #{newBrand,jdbcType=VARCHAR}, #{updatetype,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crud.bean.Manufacture">
    insert into category_brand_barcode_manufacture_total_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rep30050 != null">
        REP30050,
      </if>
      <if test="中文厂商 != null">
        中文厂商,
      </if>
      <if test="e01 != null">
        E0_1,
      </if>
      <if test="e1 != null">
        E1,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="厂商码 != null">
        厂商码,
      </if>
      <if test="[use] != null">
        [USE],
      </if>
      <if test="infotype != null">
        InfoType,
      </if>
      <if test="manufacture != null">
        Manufacture,
      </if>
      <if test="manufactureCode != null">
        Manufacture_code,
      </if>
      <if test="newBrand != null">
        new_brand,
      </if>
      <if test="updatetype != null">
        UpdateType,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="id != null">
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rep30050 != null">
        #{rep30050,jdbcType=VARCHAR},
      </if>
      <if test="中文厂商 != null">
        #{中文厂商,jdbcType=VARCHAR},
      </if>
      <if test="e01 != null">
        #{e01,jdbcType=INTEGER},
      </if>
      <if test="e1 != null">
        #{e1,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="厂商码 != null">
        #{厂商码,jdbcType=VARCHAR},
      </if>
      <if test="[use] != null">
        #{[use],jdbcType=NCHAR},
      </if>
      <if test="infotype != null">
        #{infotype,jdbcType=NVARCHAR},
      </if>
      <if test="manufacture != null">
        #{manufacture,jdbcType=NVARCHAR},
      </if>
      <if test="manufactureCode != null">
        #{manufactureCode,jdbcType=INTEGER},
      </if>
      <if test="newBrand != null">
        #{newBrand,jdbcType=VARCHAR},
      </if>
      <if test="updatetype != null">
        #{updatetype,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crud.bean.ManufactureExample" resultType="java.lang.Long">
    select count(*) from category_brand_barcode_manufacture_total_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category_brand_barcode_manufacture_total_all
    <set>
      <if test="record.rep30050 != null">
        REP30050 = #{record.rep30050,jdbcType=VARCHAR},
      </if>
      <if test="record.中文厂商 != null">
        中文厂商 = #{record.中文厂商,jdbcType=VARCHAR},
      </if>
      <if test="record.e01 != null">
        E0_1 = #{record.e01,jdbcType=INTEGER},
      </if>
      <if test="record.e1 != null">
        E1 = #{record.e1,jdbcType=INTEGER},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.厂商码 != null">
        厂商码 = #{record.厂商码,jdbcType=VARCHAR},
      </if>
      <if test="record.[use] != null">
        [USE] = #{record.[use],jdbcType=NCHAR},
      </if>
      <if test="record.infotype != null">
        InfoType = #{record.infotype,jdbcType=NVARCHAR},
      </if>
      <if test="record.manufacture != null">
        Manufacture = #{record.manufacture,jdbcType=NVARCHAR},
      </if>
      <if test="record.manufactureCode != null">
        Manufacture_code = #{record.manufactureCode,jdbcType=INTEGER},
      </if>
      <if test="record.newBrand != null">
        new_brand = #{record.newBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetype != null">
        UpdateType = #{record.updatetype,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category_brand_barcode_manufacture_total_all
    set REP30050 = #{record.rep30050,jdbcType=VARCHAR},
      中文厂商 = #{record.中文厂商,jdbcType=VARCHAR},
      E0_1 = #{record.e01,jdbcType=INTEGER},
      E1 = #{record.e1,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=VARCHAR},
      厂商码 = #{record.厂商码,jdbcType=VARCHAR},
      [USE] = #{record.[use],jdbcType=NCHAR},
      InfoType = #{record.infotype,jdbcType=NVARCHAR},
      Manufacture = #{record.manufacture,jdbcType=NVARCHAR},
      Manufacture_code = #{record.manufactureCode,jdbcType=INTEGER},
      new_brand = #{record.newBrand,jdbcType=VARCHAR},
      UpdateType = #{record.updatetype,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>