<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.crud.bean.User">
    <id column="Category" jdbcType="INTEGER" property="category" />
    <result column="Person_Incharge" jdbcType="NVARCHAR" property="personIncharge" />
    <result column="Email_Address" jdbcType="NVARCHAR" property="emailAddress" />
    <result column="comments" jdbcType="NVARCHAR" property="comments" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Category, Person_Incharge, Email_Address, comments
  </sql>
  <select id="selectByExample" parameterType="com.crud.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SleepBC_Category_Incharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SleepBC_Category_Incharge
    where Category = #{category,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SleepBC_Category_Incharge
    where Category = #{category,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.crud.bean.UserExample">
    delete from SleepBC_Category_Incharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.crud.bean.User">
    insert into SleepBC_Category_Incharge (Category, Person_Incharge, Email_Address, 
      comments)
    values (#{category,jdbcType=INTEGER}, #{personIncharge,jdbcType=NVARCHAR}, #{emailAddress,jdbcType=NVARCHAR}, 
      #{comments,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crud.bean.User">
    insert into SleepBC_Category_Incharge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="category != null">
        Category,
      </if>
      <if test="personIncharge != null">
        Person_Incharge,
      </if>
      <if test="emailAddress != null">
        Email_Address,
      </if>
      <if test="comments != null">
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="personIncharge != null">
        #{personIncharge,jdbcType=NVARCHAR},
      </if>
      <if test="emailAddress != null">
        #{emailAddress,jdbcType=NVARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.crud.bean.UserExample" resultType="java.lang.Long">
    select count(*) from SleepBC_Category_Incharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SleepBC_Category_Incharge
    <set>
      <if test="record.category != null">
        Category = #{record.category,jdbcType=INTEGER},
      </if>
      <if test="record.personIncharge != null">
        Person_Incharge = #{record.personIncharge,jdbcType=NVARCHAR},
      </if>
      <if test="record.emailAddress != null">
        Email_Address = #{record.emailAddress,jdbcType=NVARCHAR},
      </if>
      <if test="record.comments != null">
        comments = #{record.comments,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SleepBC_Category_Incharge
    set Category = #{record.category,jdbcType=INTEGER},
      Person_Incharge = #{record.personIncharge,jdbcType=NVARCHAR},
      Email_Address = #{record.emailAddress,jdbcType=NVARCHAR},
      comments = #{record.comments,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.crud.bean.User">
    update SleepBC_Category_Incharge
    <set>
      <if test="personIncharge != null">
        Person_Incharge = #{personIncharge,jdbcType=NVARCHAR},
      </if>
      <if test="emailAddress != null">
        Email_Address = #{emailAddress,jdbcType=NVARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=NVARCHAR},
      </if>
    </set>
    where Category = #{category,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crud.bean.User">
    update SleepBC_Category_Incharge
    set Person_Incharge = #{personIncharge,jdbcType=NVARCHAR},
      Email_Address = #{emailAddress,jdbcType=NVARCHAR},
      comments = #{comments,jdbcType=NVARCHAR}
    where Category = #{category,jdbcType=INTEGER}
  </update>
</mapper>